<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\phpunit.xml" tests="32" assertions="248" errors="0" failures="0" skipped="0" time="8.216312">
    <testsuite name="Unit" tests="1" assertions="1" errors="0" failures="0" skipped="0" time="0.003780">
      <testsuite name="Tests\Unit\ExampleTest" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Unit\ExampleTest.php" tests="1" assertions="1" errors="0" failures="0" skipped="0" time="0.003780">
        <testcase name="test_that_true_is_true" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Unit\ExampleTest.php" line="12" class="Tests\Unit\ExampleTest" classname="Tests.Unit.ExampleTest" assertions="1" time="0.003780"/>
      </testsuite>
    </testsuite>
    <testsuite name="Feature" tests="31" assertions="247" errors="0" failures="0" skipped="0" time="8.212531">
      <testsuite name="Tests\Feature\AcademicTest" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" tests="30" assertions="176" errors="0" failures="0" skipped="0" time="7.960301">
        <testcase name="test_login_hash_logout_and_guest_redirect" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="60" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="12" time="5.067807"/>
        <testcase name="test_admin_pages_all_render_and_have_database_content" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="73" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="41" time="0.381908"/>
        <testcase name="test_student_pages_and_cross_record_visibility" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="86" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="10" time="0.186718"/>
        <testcase name="test_lecturer_access_requires_own_class" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="98" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="8" time="0.076365"/>
        <testcase name="test_master_crud_and_protected_deletion" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="111" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="12" time="0.054981"/>
        <testcase name="test_krs_full_workflow_and_return_releases_capacity" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="127" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="13" time="0.106498"/>
        <testcase name="test_capacity_and_empty_submission_rejected" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="148" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.054896"/>
        <testcase name="test_krs_duplicate_course_sks_schedule_period_and_prodi_rules" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="157" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="8" time="0.065544"/>
        <testcase name="test_schedule_conflicts_and_used_schedule_lock" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="172" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="6" time="0.059111"/>
        <testcase name="test_null_scores_are_pending_and_zero_is_a_real_grade" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="185" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="4" time="0.111489"/>
        <testsuite name="Tests\Feature\AcademicTest::test_every_grade_boundary" tests="14" assertions="28" errors="0" failures="0" skipped="0" time="1.310573">
          <testcase name="test_every_grade_boundary with data set #0" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.097595"/>
          <testcase name="test_every_grade_boundary with data set #1" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.089215"/>
          <testcase name="test_every_grade_boundary with data set #2" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.093630"/>
          <testcase name="test_every_grade_boundary with data set #3" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.096306"/>
          <testcase name="test_every_grade_boundary with data set #4" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.090406"/>
          <testcase name="test_every_grade_boundary with data set #5" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.095427"/>
          <testcase name="test_every_grade_boundary with data set #6" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.089454"/>
          <testcase name="test_every_grade_boundary with data set #7" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.093832"/>
          <testcase name="test_every_grade_boundary with data set #8" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.094449"/>
          <testcase name="test_every_grade_boundary with data set #9" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.094160"/>
          <testcase name="test_every_grade_boundary with data set #10" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.097757"/>
          <testcase name="test_every_grade_boundary with data set #11" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.089761"/>
          <testcase name="test_every_grade_boundary with data set #12" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.096319"/>
          <testcase name="test_every_grade_boundary with data set #13" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="203" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="2" time="0.092261"/>
        </testsuite>
        <testcase name="test_weighted_values_ips_and_latest_published_repeat" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="211" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="6" time="0.062889"/>
        <testcase name="test_publishing_correction_audit_and_weights_remain_locked" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="223" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="7" time="0.235036"/>
        <testcase name="test_weight_sum_and_component_record_manipulation" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="240" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="5" time="0.044818"/>
        <testcase name="test_presensi_is_scoped_and_missing_distinct_from_alpa" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="252" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="6" time="0.053883"/>
        <testcase name="test_csv_unicode_formula_and_access" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="264" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="5" time="0.054875"/>
        <testcase name="test_mysql_rejects_invalid_range_fk_and_cross_class_update" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\AcademicTest.php" line="276" class="Tests\Feature\AcademicTest" classname="Tests.Feature.AcademicTest" assertions="3" time="0.032909"/>
      </testsuite>
      <testsuite name="Tests\Feature\MasterCrudTest" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\MasterCrudTest.php" tests="1" assertions="71" errors="0" failures="0" skipped="0" time="0.252230">
        <testcase name="test_every_master_can_create_update_and_delete_unused_records" file="D:\USK\S-2\Semester 1\Manajemen Dan Pemodelan Data\Tugas\UTS\Pengerjaan\Aplikasi\tests\Feature\MasterCrudTest.php" line="21" class="Tests\Feature\MasterCrudTest" classname="Tests.Feature.MasterCrudTest" assertions="71" time="0.252230"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
