**/.env*
!**/.env.example
**/auth.json
**/vendor/
**/node_modules/
**/.vercel/
**/.phpunit.cache/
**/.phpunit.result.cache
**/*.log
**/*.sqlite
**/*.sqlite3
**/*.db
**/*.ibd
**/*.frm
**/public/hot
**/public/storage
**/storage/*.key
**/storage/logs/*
!**/storage/logs/.gitignore
**/.agents/
**/.claude/
**/.factory/
**/.ai/
**/.codex/
Catatan_Pribadi/
.vercel/
.DS_Store
Thumbs.db
